@model ProxyServer.Models.BlackListModel

@{
    ViewBag.Title = "Index";
    var siteCount = (Array)ViewBag.SiteCount;
}

<h2>Index</h2>
<table border="1">
    <tr>
        <th>STT</th>
        <th>Black Site</th>
    </tr>
    @foreach (string dataLine in siteCount)
    {
        <tr>
            <td>@dataLine</td>
        </tr>
    }
</table>


