@model ProxyServer.Models.BlackListModel

@{
    ViewBag.Title = "Index";
    var siteCount = (Array)ViewBag.SiteCount;
}

<h2>Index</h2>
<ul>

@foreach (var dataLine in siteCount)
{
    @foreach(string item in dataLine.)
}
</ul>
